<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<!--
  Note: If editing this configuration file you might also want to use the provided schema file "Config.xsd" to validate your 
  new configuration - good XML-Editors might even support instant validation and intelli sense too.
-->
<AdvancedCircuitsConfiguration
  xmlns="http://github.com/CoderCow/AdvancedCircuits-Plugin"
  
  Version="1.1"
>
  <!-- 
    Sets whether usual Terraria circuits are overriden by this plugin to extend / limit their functionalities as configured
    below.
  -->
  <OverrideVanillaCircuits>1</OverrideVanillaCircuits>

  <!--
    Sets whether Advanced Circuits can be executed at all.
  -->
  <AdvancedCircuitsEnabled>1</AdvancedCircuitsEnabled>
  
  <!--
    The maximum amount of Dart Traps, Statues and Pumps that can be triggered by one single circuit. 
    For example: If you configure a maximum of 5 Dart Traps and 6 are connected in a circuit, only 5 of them will shoot.
  -->
  <MaxDartTrapsPerCircuit>10</MaxDartTrapsPerCircuit>
  <MaxStatuesPerCircuit>10</MaxStatuesPerCircuit>
  <MaxPumpsPerCircuit>4</MaxPumpsPerCircuit>
  <BoulderWirePermission></BoulderWirePermission>
  
  <!--
    The maximum amount of wires a circuit can be made of. Terrarias default is 1000. Recommended is 600.
  -->
  <MaxCircuitLength>600</MaxCircuitLength>

  <BlockActivatorConfig>
    <TriggerPermission></TriggerPermission>
    <MaxChangeableBlocks>100</MaxChangeableBlocks>
    <Cooldown>30</Cooldown>
  </BlockActivatorConfig>
  
  <!-- 
    The default setting of the Dart Trap is equal with Terraria's default Dart Trap.
  -->
  <DartTrapConfigs>
    <DartTrapConfig Profile="Default">
      <ProjectileType>98</ProjectileType>
      <ProjectileDamage>20</ProjectileDamage>
      <ProjectileSpeed>12</ProjectileSpeed>
      <ProjectileOffset>2</ProjectileOffset>
      <ProjectileLifeTime>150</ProjectileLifeTime>
      <Cooldown>180</Cooldown>
    </DartTrapConfig>
    <DartTrapConfig Profile="OneModifier">
      <ProjectileType>75</ProjectileType>
      <ProjectileDamage>40</ProjectileDamage>
      <ProjectileSpeed>4</ProjectileSpeed>
      <ProjectileOffset>2</ProjectileOffset>
      <ProjectileLifeTime>350</ProjectileLifeTime>
      <Cooldown>420</Cooldown>
      <WirePermission>ac_PlaceSuperDartTrap</WirePermission>
      <TriggerPermission>ac_TriggerSuperDartTrap</TriggerPermission>
    </DartTrapConfig>
  </DartTrapConfigs>
  
  <!--
    Add or remove a configuration of a statue as you please here. Make sure no statue type is defined two times though.
    
    Available Statue Types:
      Armor, Angel, Star, Sword, Slime, Goblin, Shield, Bat, Fish, Bunny, Skeleton, Reaper, Woman, Imp, Gargoyle, Gloom,
      Hornet, Bomb, Crab, Hammer, Potion, Spear, Cross, Jellyfish, Bow, Boomerang, Boot, Chest, Bird, Axe, Corrupt,
      Tree, Anvil, Pickaxe, Mushroom, Eyeball, Pillar, Heart, Pot, Sunflower, King, Queen, Piranha
    
    Available Action Types:
      MoveNPC
        ActionParam
          One of these npc groups:
            0 - Random NPC
            1 - Random Female NPC
            2 - Random Male NPC
            3 - Specific NPC
        ActionParam2
          The specific NPC id if ActionParam is set to 3.
      
      SpawnMob
        ActionParam
          The mob's id.
        ActionParam2
          Optional. The maximum mobs which can be in range of the statue. The statue will not continue spawning if this 
          amount is reached.
        ActionParam3
          Optional. The range in blocks with the statue as center to check for already spawned mobs.
      
      SpawnItem
        ActionParam
          The items's id.
        ActionParam2
          Optional. The maximum items which can be in range of the statue. The statue will not continue spawning if this 
          amount is reached.
        ActionParam3
          Optional. The range in blocks with the statue as center to check for already spawned items.
          
    
    You can also define a "RequiredPermission" node for each statue. Only players in a group having this permission can than wire
    up this Statue. Statues can always be placed by anyone, the "RequiredPermission" only controls if a player can WIRE it up.
  -->
  <StatueConfigs>
    <!-- These Statues are configured like Terraria's defaults. Change them if you want. -->
    <StatueConfig StatueType="Star">
      <ActionType>SpawnItem</ActionType>
      <ActionParam>184</ActionParam>
      <ActionParam2>3</ActionParam2>
      <ActionParam3>15</ActionParam3>
      <Cooldown>600</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Slime">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>1</ActionParam>
      <ActionParam2>4</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>30</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Bat">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>49</ActionParam>
      <ActionParam2>4</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>30</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Fish">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>55</ActionParam>
      <ActionParam2>4</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>30</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Bunny">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>46</ActionParam>
      <ActionParam2>4</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>30</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Skeleton">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>21</ActionParam>
      <ActionParam2>4</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>30</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Bomb">
      <ActionType>SpawnItem</ActionType>
      <ActionParam>28</ActionParam>
      <ActionParam2>3</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>600</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Crab">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>67</ActionParam>
      <ActionParam2>3</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>30</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Jellyfish">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>63</ActionParam>
      <ActionParam2>4</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>30</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Chest">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>85</ActionParam>
      <ActionParam2>3</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>30</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Bird">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>74</ActionParam>
      <ActionParam2>4</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>30</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Heart">
      <ActionType>SpawnItem</ActionType>
      <ActionParam>58</ActionParam>
      <ActionParam2>3</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>600</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="King">
      <ActionType>MoveNPC</ActionType>
      <ActionParam>2</ActionParam>
      <Cooldown>300</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Queen">
      <ActionType>MoveNPC</ActionType>
      <ActionParam>1</ActionParam>
      <Cooldown>300</Cooldown>
    </StatueConfig>
    <StatueConfig StatueType="Piranha">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>58</ActionParam>
      <ActionParam2>4</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>30</Cooldown>
    </StatueConfig>
    
    <!-- Example of a Custom Statue -->
    <StatueConfig StatueType="Goblin">
      <ActionType>SpawnMob</ActionType>
      <ActionParam>26</ActionParam>
      <ActionParam2>4</ActionParam2>
      <ActionParam3>25</ActionParam3>
      <Cooldown>80</Cooldown>
      <WirePermission>ac_PlaceCustomStatues</WirePermission>
      <TriggerPermission>ac_UseCustomStatues</TriggerPermission>
    </StatueConfig>
  </StatueConfigs>
</AdvancedCircuitsConfiguration>