<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<!--
  All cooldowns are expected to be in frames (one 1 second has 60 frames).

  Note: If editing this configuration file you might also want to use the provided schema file "Config.xsd" to validate your 
  new configuration against it - good XML-Editors might even support instant validation and intelli sense too.
-->
<AdvancedCircuitsConfiguration
  xmlns="http://github.com/CoderCow/AdvancedCircuits-Plugin"
  
  Version="1.2"
>
  <!-- 
    Sets whether usual Terraria circuits are overriden by this plugin to extend / limit their functionalities as configured
    below.
  -->
  <OverrideVanillaCircuits>1</OverrideVanillaCircuits>

  <!--
    Sets whether Advanced Circuits can be executed at all.
  -->
  <AdvancedCircuitsEnabled>1</AdvancedCircuitsEnabled>
  
  <!--
    The maximum amount of Dart Traps, Statues and Pumps that can be triggered by one single circuit. 
    For example: If you configure a maximum of 5 Dart Traps and 6 are connected in a circuit, only 5 of them will shoot.
  -->
  <MaxDartTrapsPerCircuit>10</MaxDartTrapsPerCircuit>
  <MaxStatuesPerCircuit>10</MaxStatuesPerCircuit>
  <MaxPumpsPerCircuit>4</MaxPumpsPerCircuit>
  <!--
    The prefix to display in front of the text stated by signaled signs.
  -->
  <SignPrefix>Sign: </SignPrefix>
  <BoulderWirePermission></BoulderWirePermission>
  
  <!--
    The maximum amount of wires a circuit can be made of. Terrarias default is 1000. Recommended is 600.
  -->
  <MaxCircuitLength>600</MaxCircuitLength>

  <BlockActivatorConfig>
    <MaxChangeableBlocks>100</MaxChangeableBlocks>
    <Cooldown>60</Cooldown>
    <TriggerPermission></TriggerPermission>
  </BlockActivatorConfig>

  <!-- 
    The default setting of the Pump is mostly equal to Terraria's default Pump.
    It can be configured by 5 different profiles: Default, OneModifier, TwoModifiers, ThreeModifiers, FourModifiers.
    
    1020 means four Tiles completely filled with liquid (255 per tile), higher transfer values are not possible.
    
    You can configure Pumps so that a small amount of liquid gets lost when transfered so that endless Pump circuits will
    eventually run dry.
    The Loss Value can also be positive to have Pumps actually produce more liquid as they take in, however, even if the
    Loss Value is positive, an Outlet Pump still needs an Inlet Pump and a bit of liquid in order to work.
  -->
  <PumpConfigs>
    <PumpConfig Profile="Default">
      <TransferableWater>1020</TransferableWater>
      <TransferableLava>1020</TransferableLava>
      <LossValue>0</LossValue>
      <Cooldown>5</Cooldown>
      <TriggerPermission></TriggerPermission>
      <WirePermission></WirePermission>
    </PumpConfig>
  </PumpConfigs>
  
  <!-- 
    The default setting of the Dart Trap equals to Terraria's default Dart Trap.
    It can be configured by 5 different profiles: Default, OneModifier, TwoModifiers, ThreeModifiers, FourModifiers.
    
    ProjectileAngle defines the angle in which the projectile is shot from the trap in degrees. If the trap faces 
    left, 180 is added to this value.
  -->
  <DartTrapConfigs>
    <DartTrapConfig Profile="Default">
      <ProjectileType>98</ProjectileType>
      <ProjectileDamage>20</ProjectileDamage>
      <ProjectileSpeed>12</ProjectileSpeed>
      <ProjectileAngle>0</ProjectileAngle>
      <ProjectileOffset>32</ProjectileOffset>
      <ProjectileLifeTime>150</ProjectileLifeTime>
      <ProjectileKnockback>2</ProjectileKnockback>
      <Cooldown>180</Cooldown>
    </DartTrapConfig>
    <DartTrapConfig Profile="OneModifier">
      <ProjectileType>75</ProjectileType>
      <ProjectileDamage>40</ProjectileDamage>
      <ProjectileSpeed>4</ProjectileSpeed>
      <ProjectileAngle>0</ProjectileAngle>
      <ProjectileOffset>2</ProjectileOffset>
      <ProjectileLifeTime>350</ProjectileLifeTime>
      <ProjectileKnockback>0</ProjectileKnockback>
      <Cooldown>420</Cooldown>
      <WirePermission>ac_PlaceSuperDartTrap</WirePermission>
      <TriggerPermission>ac_TriggerSuperDartTrap</TriggerPermission>
    </DartTrapConfig>
  </DartTrapConfigs>

  <!-- 
    Can be configured by 5 different profiles: Default, OneModifier, TwoModifiers, ThreeModifiers, FourModifiers.
    
    Transmitters distinguish signals by three things, the network the Transmitters are clients of, the channel which
    maps to the port of the Transmitter and the player who placed it.
    Network 0 means broadcasting. Transmitters of any network can receive a signal from a broadcasting Transmitter 
    and a Transmitter of the broadcast network can receive signals from any other network.
    
    The transmission range is measured in tiles. Range 0 means entire map. 
    
    Note: The TriggerPermission is only checked for sending transmitters, not for receiving transmitters.
  -->
  <WirelessTransmitterConfigs>
    <WirelessTransmitterConfig Profile="Default">
      <Network>1</Network>
      <Range>140</Range>
      <Cooldown>0</Cooldown>
      <WirePermission></WirePermission>
      <TriggerPermission></TriggerPermission>
    </WirelessTransmitterConfig>
  </WirelessTransmitterConfigs>

  <!--
    Add or remove a configuration of a statue as you please here. Make sure no statue type is defined two times though.
    
    Available Statue Types:
      Armor, Angel, Star, Sword, Slime, Goblin, Shield, Bat, Fish, Bunny, Skeleton, Reaper, Woman, Imp, Gargoyle, Gloom,
      Hornet, Bomb, Crab, Hammer, Potion, Spear, Cross, Jellyfish, Bow, Boomerang, Boot, Chest, Bird, Axe, Corrupt,
      Tree, Anvil, Pickaxe, Mushroom, Eyeball, Pillar, Heart, Pot, Sunflower, King, Queen, Piranha
    
    PlayerCheckRange is the range in tiles where a player must be present in order to have the statue execute its action
    at all. If no player is inside this range, then the statue will just do nothing.
    
    Any statue defines a list of actions where you can choose if those actions are either executed all at once (ExecuteAll)
    or just one random action from the list at a time (ExecuteOne) using the ProcessingMethod attribute.
    
    You can also define a "WirePermission" for each statue. Only players in a group having this permission can than wire
    up this Statue. Statues can always be placed by anyone, the "WirePermission" only controls if a player can WIRE it up.
    There's also a "TriggerPermission".
    
    Available Action Types:
      NullAction
        Does just nothing.
        
      MoveNpcAction
        Finds and moves a specific npc to the statue.
        
        NpcId - The id of the npc to be moved / spawned.
        SpawnIfNotExistent - If the npc is not present in the world, it is spawned if this setting is set to true.
        CheckRange - The range in tiles to check if the npc is already present, if it is, then it will not be moved.
        
      SpawnNpcAction
        Spawns a specific npc at the statue.
        
        NpcId - The id of the npc to be spawned.
        Amount - The amount of npcs to spawn.
        CheckRange - The range in tiles to check if the given amount of npcs are already present, if they are, then no 
                     new npc will be spawned.
        CheckAmount - The amount of npcs to check for in the given range.
        
      SpawnItemAction
        Spawns a specific item at the statue.
        
        ItemId - The id of the npc to be spawned.
        Amount - The amount of items to spawn.
        CheckRange - The range in tiles to check if the given amount of items are already present, if they are, then no 
                     new item will be spawned.
        CheckAmount - The amount of items to check for in the given range.
        
      BuffPlayerAction
        Buffs nearby players with a specific buff.
        
        BuffId - The id or name of the buff.
        BuffTime - How long the buff will last in milliseconds.
        Radius - The radius in which buffs are applied to players in tiles.
  -->
  <StatueConfigs>
    <!-- These Statues are configured to equal to Terraria's defaults, change them if you want. -->
    <StatueConfig StatueType="Star">
      <Cooldown>600</Cooldown>
      
      <Actions ProcessingMethod="ExecuteAll">
        <SpawnItemAction>
          <ItemId>184</ItemId>
          <Amount>3</Amount>
          <CheckRange>15</CheckRange>
          <CheckAmount>3</CheckAmount>
        </SpawnItemAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Slime">
      <Cooldown>30</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>1</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>4</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Bat">
      <Cooldown>30</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>49</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>4</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Fish">
      <Cooldown>30</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>55</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>4</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Bunny">
      <Cooldown>30</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>46</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>4</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Skeleton">
      <Cooldown>30</Cooldown>
      
      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>21</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>4</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Bomb">
      <Cooldown>600</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnItemAction>
          <ItemId>28</ItemId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>4</CheckAmount>
        </SpawnItemAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Crab">
      <Cooldown>30</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>67</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>3</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Jellyfish">
      <Cooldown>30</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>63</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>4</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Chest">
      <Cooldown>30</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>85</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>3</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Bird">
      <Cooldown>30</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>74</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>4</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Heart">
      <Cooldown>600</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>58</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>3</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="King">
      <Cooldown>300</Cooldown>
      
      <Actions ProcessingMethod="ExecuteOne">
        <MoveNpcAction>
          <NpcId>17</NpcId>
          <SpawnIfNotExistent>false</SpawnIfNotExistent>
          <CheckRange>0</CheckRange>
        </MoveNpcAction>
        <MoveNpcAction>
          <NpcId>19</NpcId>
          <SpawnIfNotExistent>false</SpawnIfNotExistent>
          <CheckRange>0</CheckRange>
        </MoveNpcAction>
        <MoveNpcAction>
          <NpcId>22</NpcId>
          <SpawnIfNotExistent>false</SpawnIfNotExistent>
          <CheckRange>0</CheckRange>
        </MoveNpcAction>
        <MoveNpcAction>
          <NpcId>38</NpcId>
          <SpawnIfNotExistent>false</SpawnIfNotExistent>
          <CheckRange>0</CheckRange>
        </MoveNpcAction>
        <MoveNpcAction>
          <NpcId>54</NpcId>
          <SpawnIfNotExistent>false</SpawnIfNotExistent>
          <CheckRange>0</CheckRange>
        </MoveNpcAction>
        <MoveNpcAction>
          <NpcId>107</NpcId>
          <SpawnIfNotExistent>false</SpawnIfNotExistent>
          <CheckRange>0</CheckRange>
        </MoveNpcAction>
        <MoveNpcAction>
          <NpcId>108</NpcId>
          <SpawnIfNotExistent>false</SpawnIfNotExistent>
          <CheckRange>0</CheckRange>
        </MoveNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Queen">
      <Cooldown>300</Cooldown>

      <Actions ProcessingMethod="ExecuteOne">
        <MoveNpcAction>
          <NpcId>18</NpcId>
          <SpawnIfNotExistent>false</SpawnIfNotExistent>
          <CheckRange>0</CheckRange>
        </MoveNpcAction>
        <MoveNpcAction>
          <NpcId>20</NpcId>
          <SpawnIfNotExistent>false</SpawnIfNotExistent>
          <CheckRange>0</CheckRange>
        </MoveNpcAction>
        <MoveNpcAction>
          <NpcId>124</NpcId>
          <SpawnIfNotExistent>false</SpawnIfNotExistent>
          <CheckRange>0</CheckRange>
        </MoveNpcAction>
      </Actions>
    </StatueConfig>
    <StatueConfig StatueType="Piranha">
      <Cooldown>30</Cooldown>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnNpcAction>
          <NpcId>58</NpcId>
          <Amount>1</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>4</CheckAmount>
        </SpawnNpcAction>
      </Actions>
    </StatueConfig>
    
    <!-- Example of a Custom Statue -->
    <StatueConfig StatueType="Goblin">
      <PlayerCheckRange>200</PlayerCheckRange>
      <Cooldown>80</Cooldown>
      <WirePermission>ac_PlaceCustomStatues</WirePermission>
      <TriggerPermission>ac_UseCustomStatues</TriggerPermission>

      <Actions ProcessingMethod="ExecuteAll">
        <SpawnItemAction>
          <ItemId>161</ItemId>
          <Amount>4</Amount>
          <CheckRange>15</CheckRange>
          <CheckAmount>16</CheckAmount>
        </SpawnItemAction>
        <SpawnNpcAction>
          <NpcId>26</NpcId>
          <Amount>2</Amount>
          <CheckRange>25</CheckRange>
          <CheckAmount>4</CheckAmount>
        </SpawnNpcAction>
        <BuffPlayerAction>
          <BuffId>Shine</BuffId>
          <BuffTime>3600</BuffTime>
          <Radius>10</Radius>
        </BuffPlayerAction>
      </Actions>
    </StatueConfig>
  </StatueConfigs>
</AdvancedCircuitsConfiguration>